ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: White;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: solid;
    border-width: thick;
    border-color: black;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1vw;

}

li a.active {
    background-color:#9CB071 ;
    color: black;
    font-size: 1.5vw;


}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.img{
  position: absolute;
  bottom: 0px;
  padding: 2%;
}
.body{
  margin-left: 15%;
  padding: 1px 16px;
  background-color: #FFF8DC;
}

html, body {
  margin-left: 15%;
  height: auto;
  font-family: serif;
  font-size: 20px;
  margin: 0;
  background-color: #FFF8DC;
}


.container{
  background-color: #DCDCDC;
  height: 256px;
  width: 100%;
  padding-top: 20%;
}

.resume{
position:relative;
left: 5%;
  padding: 10px;
  background-color: white;
outline: 5px solid black;
width: 85%;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



.box{
  position:sticky;
  padding: 1%;
  background-color: #9CB071;
  margin: 1%;
}

li{
  padding-top: 3px;
}
